body{
    justify-content: center;
    align-items: center;
    display: flex;
     margin: 100px 0;
     background: linear-gradient(to right,rgb(180, 44, 44), black); 
     overflow-x: hidden;
     
}
.lien{
    color: black;
    text-decoration: none;
}
.box{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    padding: 10px 0;
    background-color: white;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
    border-radius: 20px;

}
.logo{
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{
    font-size: 2em;
}
.balises{
    font-size: 1.4em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    margin: 0 5px;
}
h2{
    font-size: 1.7em;
text-decoration: underline;
color: rgb(180, 44, 44);
animation-delay: 5s;
animation: anim 2s linear infinite;
}
@keyframes anim{
    from{
        transform: translateY(-15px);
    }
}
.input{
    width: 400px;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(180, 44, 44);
    overflow: hidden;
    outline: none;
    margin: 10px 0;
    background-color: transparent;
    padding: 5px;
}
#btn{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    color: white;
    background-color:rgb(180, 44, 44) ;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btn:hover{
    background-color: rgb(163, 37, 37);
}
@media screen and (max-width: 900px) {
.input{
    width: 250px;
    
}

.box{
    width: 300px;
}
}